html {
    font-family: 'Georgia, serif';
}

h1 {
    color: #afa278;
    font-family: 'Georgia, serif';
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 24px;
    text-align: center;
}
h2 {
    color: #afa278;
    font-size: 1.6rem;
    margin: 16px 0;
}

p {
    color: #5e5e5e;
    font-size: 16px;
    line-height: 26px;
}

.navbar {
    background-color: rgba(255,255,255,.85);
    padding: 0 0.5rem;
}

.navbar-brand {  
    background-image: url("../img/logo.png");
    background-position: 0px 8px;
    background-repeat: no-repeat;
    background-size: 60px;
    display: block;
    padding: 0 0 0 80px;
}

.navbar-brand span { 
    color: #5e5e5e;
    display: block;
    position: relative;
    top: -10px;
}

.container--main {
    margin: 24px auto;
}

.row--zones btn {
    margin: 24px 0;
}

.row--zones img {
    margin: 24px 0 0;
}

/* Slider Styles */
@media (min-width: 1200px) {
    .carousel-inner {
        margin: auto;
        max-height: 500px;
        max-width: 1400px;
    }
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item h3 {
    font-size: 36px;    
    font-family: 'Georgia, serif';
    line-height: 40px;
    text-shadow: 2px 2px 4px #000000;
}

.carousel-caption {
    left: 4%;
    right: 4%;
    bottom: 5%;
}

.carousel .btn { 
    font-size: 12px;
    text-transform: uppercase;
}

.contact__menu {
    background-image: url("../img/phone_icon.png");
    background-repeat: no-repeat;
    background-color: #efefef;
    background-size: 36px;
    border: 1px solid #cccccc;
    height: 50px;
    left: 0;
    position: fixed;
    top: 50%;
    width: 40px;
}

.contact__number {
    display: none;
}
.contact__number.show {
    display: block;
}

.py-5.bg-dark {
    overflow: hidden;
}
.py-5.bg-dark .container {
    overflow: hidden;
}

.contactDetails {
    color: #fff;
    float: left;
    margin-right: 24px;
}

#pixlee_container {
    float: left;
    height: 126px;
    width: 300px;
}

.footer,
.footer__container {
    overflow: hidden;
}
.footer__bottom {
    background-color: #222222;
    display: block;
    height: 60px;
    overflow: hidden;
    width: 100%;
}

.footer__bottom p {
    color: #cecece;
    font-size: 12px;
    line-height: 44px;
    text-transform: uppercase;
}