:target {
 
padding-top: 79px;
margin-top: -79px;

}

html,
html body {
    font-family: 'Georgia, serif';
}

h1 {
    color: #afa278;
    font-family: 'Georgia, serif';
    font-size: 34px;
    line-height: 46px;
    margin-bottom: 8px;
    text-align: center;
}
  
.container--mainHome h1 {
    font-size: 40px;
    line-height: 46px;
    margin: 24px;
}

h2 {
    color: #afa278;
    font-size: 1.6rem;
    margin: 16px 0;
}

p {
    color: #5e5e5e;
    font-size: 16px;
    line-height: 26px;
}

.navbar {
    background-color: rgba(255,255,255,0.99);
    border-bottom: 1px solid #afa278;
    padding: 0 0.5rem;
}

.navbar-brand {  
    background-image: url(../img/hf-logo.png);
    background-position: 0px 2px;
    background-repeat: no-repeat;
    background-size: 55px;
    display: block;
    font-family: 'Georgia, serif';
    padding: 0 0 0 62px;
    position: relative;
    top: 6px;
    font-size: 1.4rem;
}

.navbar .navbar-brand {
    color: #344b62;
}
.navbar-brand span { 
    color: #afa278;
    display: block;
    font-family: 'Georgia, serif';
    font-size: 17px;
    position: relative;
    top: -10px;
}

.navbar-light .navbar-nav .nav-link {
    color: #344b62;
    font-family: arial;
    line-height: 20px;
    margin: 8px 0 8px;
    text-align: center;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #afa278;
}
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color: #afa278;    
}
.container--main {
    margin: 70px 0 24px;
}

.row--zones img {
    border: 1px solid #343a40;
    border-radius: 3px;
    margin: 24px 0 0;
}

/* Home page carousel banner images */
.banner1 { background-image: url('../img/banner/banner1_mobile.png') !important; }
.banner2 { background-image: url('../img/banner/banner2_mobile.png') !important; }
.banner3 { background-image: url('../img/banner/banner3_mobile.png') !important; }

/* Slider Styles */
.carousel-item {
  height: 100vh; /* Full Height */
  /* height: 70vh; */
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item h3 {
    font-size: 36px;    
    font-family: 'Georgia, serif';
    line-height: 40px;
    text-shadow: 2px 2px 4px #000000;
}

.carousel-caption {
    left: 4%;
    right: 4%;
    bottom: 8%;
}

.carousel .btn { 
    font-size: 12px;
    text-transform: uppercase;
}

/* Deskop Specific Styles  */
@media (min-width: 576px) {
    h1 {
        font-size: 3rem;
        margin: 32px;
    }
    .navbar {
        border-bottom: 3px solid #afa278;
    }
    .navbar-nav {
        margin-top: 6px;
    }
    .carousel-inner {
        margin: auto;
        max-height: 420px;
    }

    .carousel-item {
        height: 420px;
    }

    .banner1 { background-image: url('../img/banner/banner1_desktop.png') !important; }
    .banner2 { background-image: url('../img/banner/banner2_desktop.png') !important; }
    .banner3 { background-image: url('../img/banner/banner3_desktop.png') !important; }

    .carousel-item h3  {
        font-size: 50px;
        line-height: 60px;
    }
    .carousel-caption {
        margin: auto;
        width: 480px;
    }
    .row--zones a {    
       bottom: 0;
        left: 16px;    
        position: absolute;
    }
    .row--zones p {
        margin-bottom: 60px;
    }

    .container--main {
        margin: 90px auto 24px;
    }
    .container--mainHome {
        margin: 24px auto;
    }    
}


.contact__menu {
    background-image: url("../img/phone_icon.png");
    background-repeat: no-repeat;
    background-color: #efefef;
    background-size: 36px;
    border: 1px solid #cccccc;
    height: 50px;
    left: 0;
    position: fixed;
    top: 50%;
    width: 40px;
}

.contact__number {
    display: none;
}
.contact__number.show {
    display: block;
}

.py-5.bg-dark {
    overflow: hidden;
}
.py-5.bg-dark .container {
    overflow: hidden;
}

.location {
    margin-top: 40px;
}
.reviews {
    padding: 16px 10%;
    text-transform: uppercase;    
}

.reviews p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0;
}
.reviews span {
    display: none;
    font-size: 12px;    
    text-align: right;
}
.googleMapsWrap {
    margin-top: 8px;
    margin-bottom: 24px;
}
.googleMaps {
    height: 100%;
    margin: auto;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    width: 96%;
}
.container--mainHome .googleMaps {
    height: 100%;
    margin: auto;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    width: 96%;
}

.contactDetails {
    color: #fff;    
}

.footer__head {
    color: #fff;
    font-weight: bold;
    margin: 16px 0 16px 0;
}

.footer,
.footer__container {
    font-family: arial;
    overflow: hidden;
}
.footer__bottom {
    background-color: #222222;
    display: block;
    height: 40px;
    overflow: hidden;
    width: 100%;
}

.footer__bottom p {
    color: #cecece;
    font-size: 12px;
    line-height: 44px;
    text-transform: uppercase;
}

.instafeed { 
    margin: 8px 0;
    padding: 0; 
}

.instafeed li {    
    margin-bottom: 5px;
    margin-right: 2%;
    overflow: hidden;
    width: 23%;    
}

.instafeed li a {
    width: auto;
}
.instafeed li img {
    width: 100%;
}

.social__head {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.socialIconsWrap {
    bottom: 0;
    left: 0;
    margin: 16px auto;
    overflow: hidden;
    position: relative;
}

.socialIcons a {     
    background: url(../img/social-bar.png) no-repeat;
    height: 35px;
    margin-right: 10px;
    float: left;
    padding: 0;
    width: 35px;
}

.socialIcons .facebook {
    background-position: -48px 0;
}

.socialIcons .instagram {
    background-position: -190px 0;
}

/* Rates */
caption { 
    display: table-caption;
    text-align: center;
}

.table thead td {
    font-weight: bold;
    border-top: 0;
    border-bottom: 2px solid #afa278;
}

.tab-side-3 {
    width: 25%;
}

.textBI {
    font-style: italic;
    font-weight: bold;
}